header {
    background-color: gray;
    text-align: center;
    color: white;
    padding: .75rem;
}

form{
    background-color: rgb(168, 158, 158);
}

.wk5 select {
    padding: .75rem;
    width: 100%;
    max-width: 400PX;
}

.or, .cbs, .wr, .pn, .date {
    display: grid;
    padding: 1.25rem;
}

.wk5 input[type="date"] {
    padding-top: .375rem;
    padding-bottom: .375rem;
    padding-left: .75rem;
    display: block;
    width: 100%;
    max-width: 385px;
}

.cbs p {
    margin-top: 0px;
    font-size: 14px;
    font-style: italic;
}

.wk5 label [type="review"] {
    padding: .75rem;
    width: 100%;
    max-width: 400px;
}

.wk5 input[type="submit"] {
    border: none;
    background-image: linear-gradient(#161413, #584540);
    color: #fff;
    border-radius: 6px;
    font-size: 20px;
    padding: .75rem;
    width: 90%;
    margin-left: 1rem;
    margin-bottom: 1rem;
    max-width: 400px;
    box-shadow: 5px 5px 5px #b35050;
    appearance: none;

}

footer {
    background-color:gray;
    font-size: 20px;
    text-align: center;
    color:white;
    padding: .2rem;
    
}