@media only screen and (min-width: 960px) {
    #myButton {
        display: none;
    }

    h1, h2 {
      margin: 0 auto;  
    }

    
    ul.menuLinks, ul.menuLinks.open {
        display: flex;
        padding: 0%;
        justify-content: center;
        grid-gap: 2rem;
    }
    
    ul.menuLinks a:hover {
        background-color: rgba(255,255,255,0.2);
    }
    
    .container {
        display: flex;
        flex-wrap: wrap;
    } 
    
    /**********************
    Home Header
    **********************/
    header {
        background-color: #a1a688;
        display: grid;
        grid-gap: .2rem;
        grid-template-columns: .7fr 1.5fr 3.5fr;
        padding-left: 1rem; 
        padding-top: .5rem;
        text-align: left;   
    }
    
    h1  {
        font-size: 3rem;  
        padding-top: .75rem;
    }
    
    
     /**********************
    Footer
    **********************/
    footer {
        padding: .25rem;
    }
    
    #img {
        max-width: 75%;
    }
    
   
}