/******************************
Variables
********************************/
:root {
    --primary-color: #ceb992;
    --secondary-color: #a1a688;
    --accent1-color: #73937e;
    --accent2-color: #585563;

    --heading-font: "Galindo";
    --paragraph-font: Texturina, Helvetica, sans-serif;
}

/*******************************
Default Tags
********************************/
img {
    width: 100%;
    height: auto;
}

h1,
h2, 
h3 {
    font-family: var(--heading-font);
}

p {
    font-family: var(--paragraph-font);
}

/*******************************
This is for the hamburger icon 
********************************/
#myButton {
    font-size: 2rem;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    width: 44px;
    text-align: right;
    padding: .25rem 2vw;
    padding-right: 1rem;
    position: absolute;
    top: 0;
    right: 2vw;
}

#myButton::before {
    content: "\2630";
    color: black;
}
    
ul.menuLinks li a {
    display: block;
    padding: .75rem 2vw;
    color:white;
    font-weight: 600;
    text-decoration: none;
    font-size: 25px;   
}

li.currrent-menu-item a {
    background-color: black;
}

ul.menuLinks {
    display: none;
    list-style-type: none; /* effects large */
}

#myButton.open::before {
    content: "x";
    color: black;
}

ul.menuLinks.open {
    display: block;
}

/*********************************
HEADER
**********************************/
header img {
    mix-blend-mode: multiply;
    min-width: 150px;
}

h1 {
    text-align: center;
}

header {
    background-color: var(--secondary-color);
    color: white;
    display: block;
    grid-gap: .2rem;
    grid-template-columns: .7fr 1.5fr 3.5fr;
    text-align: left;
}
ul.menuLinks a:hover {
    background-color: var(--accent2-color);
}
/**********************************
Body
***********************************/
body{
    background-attachment: fixed;  

}

/**********************************
Main
***********************************/

main {
    display: grid;
    padding-bottom: .75rem;
    background-color: honeydew;
   }

h1  {
    font-size: 30px;  
    margin: 0;
}

.a {
    font-size: 2rem;
    text-align: center;
    color: black;
    font-weight: 600;
    margin: 0 auto;
}
.b {
    font-size: 1rem;
    text-align: center;
    color: bla;
    font-weight: 10;
    margin-top: 1rem;
}

#register {
    font-size: 1.5rem;
    background-color: #585563;
    color: white;
    border-radius: 15%;
    border: solid 3.5px black;
    display:block; 
    margin: 25px auto;
    max-width: 20rem;
    text-align: center;
    text-decoration: none;
 }

 
#img{
    display: grid;

    border: solid 5px black;
    border-radius: 5%;
    max-width: 220px;
    margin: 0 auto;
}

/*******************************
Blower operations
*********************************/
.title {
    font-weight: 600;
    font-size: 20px;
}
.blower {
    background-color: honeydew;
}

.part1, 
.part2,
.part3 {
    text-align: justify;
}

#intro {
    font-size: 1.5rem;
}

.part1 {
    mix-blend-mode: multiply;
}
.part2 img {
    max-width: 200px;
    margin-left: 2.25rem;
    border: solid 2px black;
    border-radius: 5%;
    
}

/*******************************
BlowerMaint
*********************************/
.blowerMaint {
    background-color: honeydew;
}
.part4 {
    text-align: justify;
}

.part4 img,
.part6 img {
    mix-blend-mode: multiply;
}

.part6 img {
    max-width: 8rem;
    margin-left: 5rem;
    margin-top: 2rem;
}
.part5 img {
    max-width: 100px;
    margin-left: 5rem;
    margin-top: 2rem;
}

p {
    margin-bottom: 0;
}

/*******************************
FORM
********************************/
.formPage {
    color: black;
    font-size: 1.5rem;
}


.wk5 select {
    padding: .75rem;
    width: 100%;
    max-width: 400PX;
}

.or, .cbs, .wr, .pn, .date {
    display: grid;
    padding: 1.25rem;
}

.wk5 input[type="date"] {
    padding-top: .375rem;
    padding-bottom: .375rem;
    padding-left: .75rem;
    display: block;
    width: 100%;
    max-width: 385px;
}

.cbs p {
    margin-top: 0px;
    font-size: 14px;
    font-style: italic;
}

.wk5 label [type="review"] {
    padding: .75rem;
    width: 100%;
    max-width: 400px;
}

.wk5 button {
    border: none;
    background-image: linear-gradient(#161413, #584540);
    color: #fff;
    border-radius: 6px;
    font-size: 20px;
    padding: .75rem;
    width: 90%;
    margin-left: 1rem;
    margin-bottom: 1rem;
    max-width: 400px;
    box-shadow: 5px 5px 5px #b35050;
    appearance: none;
    cursor: pointer;
}

.wk5 button:hover {
    color: hotpink;
}

/*******************************
Review
********************************/
#number {
    background-color: honeydew;
    margin: 0 auto;
    padding: 1rem;
    font-weight: 600;
    color: black;
    text-align: center;
    font-size: 3rem;


} 

.unit img {
    max-width: 15rem;
    mix-blend-mode: multiply;
}

/*******************************
Footer
********************************/
footer {
    font-family: var(--paragraph-font);
    background-color:#a1a688;
    font-size: 15px;
    text-align: center;
    color:white;
    padding: .25rem;
    font-weight: 600; 
}

footer img {
    width: 30px;
}

