body {
    display: grid;
    grid-column: 1 / 4;
    font-size: 20px;
    font-family: "Playwrite Deutschland Grundschrift", sans-serif;

}
    
header h1 {   
    background-color: rgb(34, 91, 167);
    padding: 1rem;
    color:white;
    display: grid;
    grid-column: 1 / 2;
    text-align:center;
    font-size: 30px;
    margin: 0;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    max-width: 1000px;
    margin: 0 auto;
}

.card {
    margin: 1rem;
    border: 1px solid black;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.card div {
    margin: 1rem;
}
.card h2 {
    display: grid;
    grid-column: 1 / 2;;
    background-color: rgb(34, 91, 167);
    color: white;
    text-align: center;
    padding: 1rem;
    margin: 0;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.card ul {
    margin-top: 100px;
}
.card li {
    padding: 1rem;
}

img {
    display: block;
    margin: 0 auto;
    border: 1px solid black;
}

.state p {
    margin: 1rem;
}
.state div {
    margin: 0 auto;
}

.grid h3 {
    grid-column: 1 / 3;
    text-align: center;
    border-bottom: 1px solid black;
    width: 50%;
    margin: 1.5rem auto;
    
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;;
}

.navigation {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: black;
}
    
.navigation a {
    display: block;
    display: grid;
    color: black;
    flex: 1 1 auto;
    padding: 0.75rem;
    text-align: center;
    color: white;
    font-size: 20px;
}
.navigation a:hover{
    text-decoration: overline;
}


.main h3 {
    display: grid;
    grid-column: 3 / 4;
    font-size: 20px;
    background-color: white;
    padding-left: 18px;
    padding-top: 18px;
    padding-bottom: 140px;
    margin-top: 0;
}

footer {
    background-color:rgb(34, 91, 167);
    font-size: 30px;
    text-align: center;
    color:white;
    
}